@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #30abb4;
}

h1{
    text-align: center;
    color: #ededed;
    font-size: 50px;
}

.foot{  /*rodapé*/
    text-align: center;
    color: #ededed;
    font-size: 12px;
} 

.container{   /*tela maior*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    margin:auto;
    background-color: #2b88db;
    border: 2px solid #0000;
}

.screen{ /*tela cronometro*/
    text-align: center;
    font-size: 100px;
    width: 87vw;
    line-height: 1px; /*entrelinhas*/
    background-color: #004578;
    color: antiquewhite;
    border-radius: 5px;
    border: 2px solid rgb(21, 32, 37);
}

.box_button{ /*box dos botões*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    width: 87vw;
}

.item{
    height: max-content;
    justify-content: center;
    padding: 5px; /*distancia entre os objetos*/
    line-height: 20px;
}



button{ /* botões*/
    width: 220px;
    height: 60px;
    background-color: #000fff;
    font-size: 20px;
    color: #fff;
    border: 2px solid rgb(15, 19, 15);
    border-radius: 5px;
    transition: all 0.3s;
}

#btt_button:hover{ /* ao passar o mouse nos botões*/
    cursor: pointer;
    background-color: #30abb4;
    transition: all 0.3s;
}

/*responsividade*/
@media (max-width: 768px){ /*@media - tamanho das telas 768px tablet*/
    .container{
        display: flex;
        background-color: #0078db;
    }
    .item{
        display: flex;
        height: 80px;
    }
    .box_button{
        display: flex;
      }
}

@media (max-width: 375px){ /*@media - tamanho das telas 375px celular*/
    .container{
        background-color: #106ebe;
    }
    .box_button{
      width: 150px;
      line-height: 150px;
    }

    .screen{
        font-size: 80px;
        width: 47vw;
    }
    
    .item{
        display: block;
        align-items: center;
    }
}
